p {
    color:#ffff;
    padding: 10px;
    text-align: center;
}


H2 {
font-size:20px;
    text-align: center;
    color:#ffff;
}


article{
    background-color: #103456;
    margin: 10px;
    padding: 2px;
    width: 200px;
    float: lefT;
    height: 300px;
}


